* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(14, 23, 47); /* Logo Hintergrund */
  --primary-light: rgb(24, 48, 84);

  --accent-color: rgb(103, 137, 190); /* Logo Akzentfarbe */
  --accent-hover: rgb(129, 162, 214);

  --paper-color: rgb(252, 228, 188); /* Bücherseitenfarbe */
  --paper-dark: rgb(224, 196, 152);

  --text-light: rgb(245, 241, 232);
  --text-dark: rgb(28, 28, 28);

  --like-color: rgb(196, 72, 92);
  --border-color: rgba(255, 255, 255, 0.12);
  --shadow-color: rgba(0, 0, 0, 0.25);
}

body {
  background-color: var(--accent-color);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 32px;

  gap: 32px;
}

.header {
  display: flex;
  align-items: center;

  gap: 16px;
  background-color: var(--primary-color);
  color: var(--text-light);
}

.logo {
  width: 140px;
  height: auto;
}

.book-card {
  width: 24rem;

  background-color: var(--paper-color);
  color: var(--text-dark);
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 25px var(--shadow-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px;
  gap: 16px;
}

.book-title {
  margin: auto;
  text-align: center;
}

.book-image {
  width: 100px;
  height: auto;
}

.book-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-price {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: bold;
}

.book-facts {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.comment-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 12rem;
}

.single-comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input {
  width: 14rem;
  height: 2rem;
  border-radius: 4px;
  padding: 0.5rem;
}
