* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(14, 23, 47); /* Logo Hintergrund */
  --primary-light: rgb(24, 48, 84);

  --accent-color: rgb(103, 137, 190); /* Logo Akzentfarbe */
  --accent-hover: rgb(129, 162, 214);

  --paper-color: rgb(252, 228, 188); /* Bücherseitenfarbe */
  --paper-dark: rgb(224, 196, 152);

  --text-light: rgb(245, 241, 232);
  --text-dark: rgb(28, 28, 28);

  --like-color: rgb(196, 72, 92);
  --border-color: rgba(255, 255, 255, 0.12);
  --shadow-color: rgba(0, 0, 0, 0.25);
}

body {
  background-color: var(--accent-color);
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;

  justify-content: center;
  align-items: center;
  flex: 1;
}

main {
  max-width: 1920px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 32px 16px;

  gap: 32px;
}

.header {
  width: 100%;
  gap: 16px;
  background-color: var(--primary-color);
  color: var(--text-light);

  display: flex;
  justify-content: center;

  padding-inline: 32px;
}

.content-limitation-header {
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 140px;
  height: auto;
}

.book-card {
  width: 24rem;
  min-width: 24rem;

  background-color: var(--paper-color);
  color: var(--text-dark);
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 25px var(--shadow-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  gap: 1.5rem;
}

.book-title {
  text-align: center;

  border-bottom: 2px solid var(--primary-color);
}

.book-image {
  width: 120px;
  height: 205px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.book-info {
  width: 100%;
  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid var(--primary-color);
}

.like-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.book-price {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: bold;
}

.like-button {
  background-color: var(--paper-color);
  border: none;
  display: flex;
  transition: transform 1s ease-in;
}

.like-button:hover {
  transform: translateY(-5px) scale(1.5);
}

.like-button img {
  width: 1rem;
}

.book-facts {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.comment-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-top: 2px solid var(--primary-color);
  padding-top: 6px;

  gap: 1rem;
}

.comment-list {
  width: 100%;
  height: 120px; /* feste Höhe */
  overflow-y: auto; /* Scroll aktivieren */

  overflow-wrap: break-word;
}

.single-comment {
  width: 100%;
  display: flex;
  align-items: flex-start;

  gap: 1rem;
}

.no-comment {
  display: flex;
  justify-content: center;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form input {
  width: 14rem;
  height: 2rem;
  padding: 0.5rem;

  background-color: var(--text-light);
  border: none;

  border-radius: 8px;
  border-bottom: solid var(--primary-color);
}

.btn {
  width: 30%;
  margin-left: 12px;
  border-radius: 8px;
  color: var(--paper-color);
  background-color: var(--primary-color);
  font-weight: bold;
  padding: 8px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  gap: 16px;
  background-color: var(--primary-color);
  color: var(--text-light);
}

a {
  text-decoration: none;
  color: white;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
